.main-results {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
h1 {
  margin-bottom: 0;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  text-align: left;
}
